<a name="home"></a>
{%if config.extra.background is defined %}
    <section id="home_page" class="min-h-screen relative w-full">
    
        <div class="absolute right-4 top-8">
            <i class="fas fa-circle"></i>
        </div>
        <div class="home_cover h-full relative">
        
            {% set meta = get_image_metadata(path=config.extra.background) %}
            {% set image = resize_image(path=config.extra.background, width=meta.width,
            height=meta.height, op="fit") %}
            <div
                style="background-image: url({{ image.url }})"
                class="bg-no-repeat bg-cover bg-fixed bg-right h-full w-full right-20
                ">
            </div>
        </div>
    </section>
{% endif %}
